# Configuration for python3-coverage.
# Documentation: http://nedbatchelder.com/code/coverage/config.html

[run]
# data_file can't be used because nose2 overrides it.

[report]
precision = 2

[html]
directory = /tmp/purgatory-htmlcov
